<% extend('base') %>

<h3><%= user.firstname %> <%= user.lastname %>'s Profile</h3>

<div id="homeButtons">
    <button id="showAbout">About</button>
    <button id="showPosts">Posts</button>
</div>

<div id="About" name="About" hidden>
    <table>
        <tr>
            <td>Gender</td>
            <td><%= user.gender %></td>
        </tr>
        <tr>
            <td>Birthdate</td>
            <td><%= user.birthdate %></td>
        </tr>
    </table>
</div>

<div id="Posts" name="Posts">
    <form name="blogForm" id="blogForm" method="POST" enctype="multipart/form-data">
        <textarea name="blog"></textarea><br>
        <input type="file" accept="audio/*, video/*, image/*" name="uploadFiles" id="uploadFiles" multiple><br>
        <input type="submit" value="Share"></input>
    </form>
    <% for (var post in resultPosts) { %>
        <div class="blogPost">
            <h5><%= resultPosts[post]['firstname'] %> <%= resultPosts[post]['lastname'] %></h5>
            <article><%- resultPosts[post]['postText'].replace(/\n/g, "<br>") %></article>
            <% for (var item in resultMedia) { %>
                <% if (resultMedia[item]['postID'] === resultPosts[post]['id']) { %>
                    <img src="<%= resultMedia[item]['filePath']%>" />
                <% } %>
            <% } %>
        </div>
    <% } %>
</div>

<div id="Friends" name="Friends">
</div>

<script>
    $("#showAbout").on("click", function() {
        $("#Posts").hide();
        $("#About").show();
    });

    $("#showPosts").on("click", function() {
        $("#Posts").show();
        $("#About").hide();
    });
</script>
